/* reset and common styles */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Jost;
}
/* end of reset and common styles  */
